#menu {
	display: inline-block;
	background:gray;
	margin:0,150px,0,0;
	font-family:sans-serif;
	float: left;
	width:10%;
	
}

#menu ul {
	list-style:none;
}
#menu a {
	text-decoration:none;
}

.contenedor{
	width:66%;
   	background:blue;
    display:inline-block;
	font-family:sans-serif;
	float:right;
	padding-left:20%;
	align-content:center;
}

.producto{
	display:inline-flex;
    align-items:center;
    flex-direction: column;
	width:250px;
	height:325px;
    background:white;
    

}

#footer {
    background:red;
   	font-family:sans-serif;	
   	
}