#menu {
	display: inline-block;
	background:gray;
	margin:0,150px,0,0;
	font-family:sans-serif;
	float: left;
	width:10%;
	
}

#menu ul {
	list-style:none;
}
#menu a {
	text-decoration:none;
}

.contenedor{
	width:50%;
   	background:blue;
    display:inline-flex;
	font-family:sans-serif;
	float:left;
	margin-left:10%;
	align-content:left;
	align-items: flex-end;
}

.producto{
	display:inline-flex;
    align-items:center;
    flex-direction: column;
	width:250px;
	height:325px;
    background:white;
    margin-left:1em;
}

#footer {
	width: 100%;
	margin-top: 100px
   	display:inline-flex;
    background:red;
   	font-family:sans-serif;	
}